.register-page {
  height: 100vh;
  .content {
    background-image: url("/img/background.jpg");
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;

    h1 {
      font-size: 1.5rem;
      margin-bottom: 40px;
      text-align: left;
      font-weight: 100;
    }
    .register-form {
      @include centerAbsolute();
      @include toggleEffect();

      width: 300px;

      background-color: rgba($color: #ffffff, $alpha: 0.95);
      padding: 30px 20px;
      text-align: center;

      .phone-number {
        font-size: 1.25rem;
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
        label {
          margin-right: 5px;
        }
        .input-group {
          display: block;
          input {
            border: none;
            box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
            background-color: rgba($color: #ffffff, $alpha: 0.4);
            font-size: 1.25rem;
            padding-left: 5px;
            outline: none;
          }
          
        }
      }

      .term-agreement {
        font-size: 0.9rem;
        display: flex;
        align-items: center;
        justify-content: center;
        label {
          cursor: pointer;
        }
        #agree {
          background-color: transparent;
        }
        margin-bottom: 20px;
      }
      .arrow {
        text-align: right;
        button {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          border: none;
          background-color: white;
          box-shadow: 0 0 4px #000;
          cursor: pointer;
          outline: none;
          &:hover {
            background-color: black;
            color: white;
          }
          transition: 0.5s all ease;
          -webkit-transition: 0.5s all ease;
          -moz-transition: 0.5s all ease;
          -ms-transition: 0.5s all ease;
          -o-transition: 0.5s all ease;
        }
      }
    }
  }
}
