@import "../../../../../scss/abstract/variable";
@import "../../../../../scss/abstract/mixin";

.destination-input {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 15px;
  font-size: 1rem;
  input {
    background: none;
    outline: none;
    border: none;
    margin-left: 10px;
    font-size: 1rem;
    width: 80%;
  }
  .search-btn {
    margin-left: auto;
    cursor: pointer;
  }
  margin-bottom: 15px;
  box-shadow: 0 5px 20px -10px black;

}
.des-lookup-list{
    .suggestion {
        display: flex;
        padding: 5px 0 15px;
        padding-left: 5px;
        cursor: pointer;
        i {
          font-size: 1.1rem;
        }
        h6 {
          font-size: 1rem;
        }
        p {
          font-size: 0.7rem;
        }
        &:hover {
          background-color: $grey-background-color;
        }
      }
}
