




$blue-color : rgb(118,178,192);
$white-background-color: rgba(255,255,255,0.85);
$grey-background-color: rgb(219, 219, 219);

$error-text-color:     #D8000C;
$error-background-color: #FFD2D2;

$success-text-color: #4F8A10;
$success-background-color: rgb(128, 177, 44)
